.azul {
    color: #3498db;
  }
  
  .gris {
    color: #888888;
  }
  
  .verde {
    color: #27ae60;
  }
  
  .blanco {
    color: #ffffff;
  }
  
  .negro {
    color: #000000;
  }
  .gris-claro {
    color: #dddddd;
  }
  
  .gris-medio {
    color: #888888;
  }
  
  .gris-oscuro {
    color: #333333;
  }