body {
   background-color: var(--color-fondo);
   color: var(--color-texto);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0;
 }
 
 .form {
   max-width: 400px;
   width: 100%;
   padding: 20px;
   background-color: #f5f5f5; /* Gris cálido */
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .form label {
   display: none;
 }
 
 .form input {
   width: 95%;
 }
 
 .form .button {
   width: 100%;
   text-align: center;
 }
 .form .fa-eye, .fa-eye-slash {
   cursor: pointer;
   color: var(--color-primario);
 }
 
 .form .fa-eye:hover {
   color: var(--color-secundario);
 }
 #password{
   width: 88%;
 }
 .main-color{
   color: #2c3e50;  
 }