#table {
   width: 80%;
   margin-left: 8%;
}

.ml-35 {
   margin-left: 35%;
}

.mt-2 {
   margin-top: 2%;
}

.btn-enviar {
   background-color: #3498db;
   color: #fff;
}

.btn-buscar {
   background-color: #2ecc71;
   color: #fff;
   padding-bottom: .1rem;
   padding-top: .1rem;
}