#table {
   width: 60%;
   margin-left: 15%;
   margin-top: 20px;
   border-collapse: collapse;
   background-color: #f2f2f2; /* Color de fondo para la tabla */
   color: #333; /* Color del texto en la tabla */
}
.ml-35 {
   margin-left: 35%;
}

.mt-2 {
   margin-top: 2%;
}

.btn-enviar {
   background-color: #3498db;
   color: #fff;
}

.btn-buscar {
   background-color: #2ecc71;
   color: #fff;
   padding-bottom: .1rem;
   padding-top: .1rem;
}
 
 #table th {
   background-color: #3498db; /* Aumentamos la especificidad */
 }

 
 /* Estilos para los checkboxes dentro de la tabla */
 #table input[type="checkbox"] {
   margin: 0;
 }